<!-- drop HTML content in here... -->

<a href='/home'>home</a> | <a href='/math'>math</a> | <a href='/about'>about</a>
<p>
You're home now, <%= @user.to_s + ' (' + nickname + ')' %>. <!-- the = at the start is needed. -->
</p>
